In [176]:
import pandas as pd ## procesamiento de datos
import numpy as np  ## operaciones matematicas

# creación de un data set de ejemplo con valores nulos

acá tenemos un diccionario que contiene 4 columnas con 7 filas osea una tabla cada columna se representa como una lista y cada valor de la columna contiene un valor especifico para esos registros

In [177]:
data = {
    'edad': [25, 30, np.nan, 45, 50, np.nan,35],
    'salario': [30000, 45000, 50000, np.nan,60000, 55000, np.nan],
    'ciudad': ['madrid','barcelona',None, 'valencia', 'madrid','barcelona','valencia'],
    'experiencia_en_años': [2,5,7, np.nan, 10,8,4]
}
df = pd.DataFrame(data)
print("data set oringinal")
print(df)
print("\n"+"="*50+ "\n")

data set oringinal
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
2   NaN  50000.0       None                  7.0
3  45.0      NaN   valencia                  NaN
4  50.0  60000.0     madrid                 10.0
5   NaN  55000.0  barcelona                  8.0
6  35.0      NaN   valencia                  4.0

==================================================

## verificación de valores nulos

queremos mirar si existen valores nulos en nuestro data set
pero como lo hacemos: 

**vamos a usar la funcion ``isnull()``** que nos devuelve TRUE en donde hay nulos

In [178]:
print("hay valores nulos ??")
print(df.isnull()) ## devuelve true si tenemos valores nulos
print("\n"+"="*50 + "\n")

hay valores nulos ??
    edad  salario  ciudad  experiencia_en_años
0  False    False   False                False
1  False    False   False                False
2   True    False    True                False
3  False     True   False                 True
4  False    False   False                False
5   True    False   False                False
6  False     True   False                False

==================================================

que podemos deducir del siguiente analisis que tenemos valores para las siguientes personas:

---

- persona 3 tiene un Nan en edad y en ciudad 
- persona 4 tiene un Nan en salario y en experiencia en años
- persona 5 tiene un Nan en edad
persona 6 tiene un Nan en salario

## contando valores nulos por columna

queremos mirar cuantos valores nulos tenemo por columna esto lo podemos hacer con la misma funcion de arriba ``is.null()`` pero añadiendole la funcion ``sum()`` la cual suma cuantos valores tenemos por columna

In [179]:
print ("valores nulos por columna")
print (df.isnull().sum()) ## cuenta cuantos nulos hay por columna y los agrupa referente a su columna
print (" \n"+"="*50 + "\n")

valores nulos por columna
edad                   2
salario                2
ciudad                 1
experiencia_en_años    1
dtype: int64

==================================================

despues de mirar el analisis que nos da la funcion podemos ver que tenemos:

---
- 2 nulos en edad
- 2 nulos en salario
- 1 nulo en ciudad
- 1 nulo en experiencia en años
en total tenemos  ``6 nulos``

## porcentaje de valores nulos

In [180]:
print("porcentaje de valores nulos")
print (df.isnull().sum()/ len(df)*100)

porcentaje de valores nulos
edad                   28.571429
salario                28.571429
ciudad                 14.285714
experiencia_en_años    14.285714
dtype: float64

### para que se usan ??
para saber que **porcentaje** de valores nulos tenemos por columna:

### por que se hace ??
esto lo hacemos para determinar que tan "limpio" esta el dataset

## como saber cuando eliminar ??
nosotros despues de sacar el porcentaje de valores nulos por columna podemos decidir que columnas eliminar o imputar( moda , mediana , media)  
¿pero como hacemos para determinar esos porcentajes apartir de los cuales tomar las decisiones?

tenemos unas reglas (No obligatorias pero buenas a seguir)
- ``<``5% -> **imputacion simple (moda mediana o media)**
- 5 - 30% **imputacion mas cuidadosa (por grupos, KNN, modelos)**
- 30% - 60% **evaluamos si imputar compensa o mejor descartar**
- ``>`` 60% usualmente descartar (salvo que sea clave)

## extrategia de eliminación 
queremos eliminar datos de nuestro data set de pruebas como podemos hacerlo ??

### formas de eliminar informacion de un data set

- **A. eliminar filas con cualquier valor nulo** 
- **B. eliminar filas solo si TODAS las columnas son nulas**
- **C. eliminar filas con  nulos en columnas especificas**
- **D. eliminar columnas con valores nulos**
- **E. imputacion con valores constantes**

---

**NOTA**
cuando vayamos hacer operaciones como eliminacion e imputaciones es mejor hacerlas sobre una copia del data set original para proteger los datos iniciales

In [181]:
## creamos copia del data frame original
df_copia = df.copy()

### A. eliminar filas con cualquier valor nulo

In [182]:
df_sin_nulos = df_copia.copy()

print("df sin nulos")
df_sin_nulos = df_sin_nulos.dropna()
print(df_sin_nulos)
print(f"\nFilas originales: {len(df)}, Filas despues:{len(df_sin_nulos)}")

df sin nulos
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
4  50.0  60000.0     madrid                 10.0

Filas originales: 7, Filas despues:3

¡¡Perdimos mas de la mitad de los datos!!

 ### B. eliminar filas solo si TODAS las columnas son nulas

In [183]:
df_todas_nulas = df_copia.copy()

df_todas_nulas =df_todas_nulas.dropna(how= 'all')
print(df_todas_nulas)

   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
2   NaN  50000.0       None                  7.0
3  45.0      NaN   valencia                  NaN
4  50.0  60000.0     madrid                 10.0
5   NaN  55000.0  barcelona                  8.0
6  35.0      NaN   valencia                  4.0

los datos se mantuvieron iguales por que no tenemos columnas con todos sus valores nulos

### C. eliminar filas con  nulos en columnas especificas

In [184]:
df_columna_especifica = df_copia.copy()
print("data frame eliminar informacion de columnas especificas")
df_columna_especifica = df_columna_especifica.dropna(subset =['edad'])
print(df_columna_especifica)

data frame eliminar informacion de columnas especificas
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
3  45.0      NaN   valencia                  NaN
4  50.0  60000.0     madrid                 10.0
6  35.0      NaN   valencia                  4.0

### D. eliminar columnas con valores nulos

In [185]:
# eliminar columnas que tengan al menos un valor nulo 
df_sin_columnas_nulas = df_copia.dropna(axis=1) # axis significa columnas
print("data set eliminando columnas con nulos")
print(df_sin_columnas_nulas)

data set eliminando columnas con nulos
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

se nos borro todo el data set por que en todas nuestras columnas tenemos al menos un valor nulo

## tecnicas de imputación

la imputación es mas util por que no perdemos datos

### A. imputacion con la MEDIA (para datos numericos)

In [186]:
### media a la edad
media_edad = df['edad'].mean()
print(f"media de edad {media_edad}") ## sacamos el dato

## llenamos con ese dato
df_fillna = df_copia
df_fillna['edad'] = df_fillna['edad'].fillna(media_edad) ## que hace esta linea ??? y como funciona
print(df_fillna)

media de edad 37.0
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
2  37.0  50000.0       None                  7.0
3  45.0      NaN   valencia                  NaN
4  50.0  60000.0     madrid                 10.0
5  37.0  55000.0  barcelona                  8.0
6  35.0      NaN   valencia                  4.0

### imputacion con la mediana ( mas robusta para outliers -> valores atipicos)

In [187]:
### rellenar con la mediana
mediana_salario = df['salario'].median()
print(f"mediana del salario {mediana_salario}")
df_fillna['salario'] = df_fillna['salario'].fillna(mediana_salario)
print(df_fillna)

mediana del salario 50000.0
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
2  37.0  50000.0       None                  7.0
3  45.0  50000.0   valencia                  NaN
4  50.0  60000.0     madrid                 10.0
5  37.0  55000.0  barcelona                  8.0
6  35.0  50000.0   valencia                  4.0

### imputacion con la moda (para datos categoricos)

In [188]:
## rellenar con el valor mas frecuente
moda_ciudad = df['ciudad'].mode()[0] # mode devuelve una serie
df_fillna['ciudad'] = df_fillna['ciudad'].fillna(moda_ciudad)
print("\ndata set con ciudades imputadas")
print(df_fillna)

data set con ciudades imputadas
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
2  37.0  50000.0  barcelona                  7.0
3  45.0  50000.0   valencia                  NaN
4  50.0  60000.0     madrid                 10.0
5  37.0  55000.0  barcelona                  8.0
6  35.0  50000.0   valencia                  4.0

### D) Imputación con un valor constante

In [189]:
df_fillna_constante = df_copia
df_fillna_constante['experiencia_en_años'] = df_fillna_constante['experiencia_en_años'].fillna(0)
print("experiencia con 0 donde habia nulos ")
print(df_fillna_constante)

experiencia con 0 donde habia nulos
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
2  37.0  50000.0  barcelona                  7.0
3  45.0  50000.0   valencia                  0.0
4  50.0  60000.0     madrid                 10.0
5  37.0  55000.0  barcelona                  8.0
6  35.0  50000.0   valencia                  4.0