In [2]:
import pandas as pd ## procesamiento de datos
import numpy as np  ## operaciones matematicas

# creación de un data set de ejemplo con valores nulos

acá tenemos un diccionario que contiene 4 columnas con 7 filas osea una tabla cada columna se representa como una lista y cada valor de la columna contiene un valor especifico para esos registros

In [3]:
data = {
    'edad': [25, 30, np.nan, 45, 50, np.nan,35],
    'salario': [30000, 45000, 50000, np.nan,60000, 55000, np.nan],
    'ciudad': ['madrid','barcelona',None, 'valencia', 'madrid','barcelona','valencia'],
    'experiencia_en_años': [2,5,7, np.nan, 10,8,4]
}
df = pd.DataFrame(data)
print("data set oringinal")
print(df)
print("\n"+"="*50+ "\n")

data set oringinal
   edad  salario     ciudad  experiencia_en_años
0  25.0  30000.0     madrid                  2.0
1  30.0  45000.0  barcelona                  5.0
2   NaN  50000.0       None                  7.0
3  45.0      NaN   valencia                  NaN
4  50.0  60000.0     madrid                 10.0
5   NaN  55000.0  barcelona                  8.0
6  35.0      NaN   valencia                  4.0

==================================================

## verificación de valores nulos

queremos mirar si existen valores nulos en nuestro data set
pero como lo hacemos: 

**vamos a usar la funcion ``isnull(())``** que nos devuelve TRUE en donde hay nulos

In [ ]:
print("hay valores nulos ??")
print(df.isnull()) ## devuelve true si tenemos valores nulos
print("\n"+"="*50 + "\n")

hay valores nulos ??
    edad  salario  ciudad  experiencia_en_años
0  False    False   False                False
1  False    False   False                False
2   True    False    True                False
3  False     True   False                 True
4  False    False   False                False
5   True    False   False                False
6  False     True   False                False

==================================================